<div *ngIf="homeAgentState$ | async as state" class="container-scroller">
    <ng-container *ngIf="state.appData?.data?.user?.roleName=='ROLE_USER'">
        <app-menu [user]="state.appData?.data?.user"></app-menu>
    </ng-container>
    <ng-container *ngIf="state.appData?.data?.user?.roleName=='ROLE_DA'">
        <app-menuda [user]="state.appData?.data?.user"></app-menuda>
    </ng-container>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="d-xl-flex justify-content-between align-items-start">
                    <h2 class="text-dark font-weight-bold mb-2"> Point de Service de
                        {{state.appData?.data?.pointevente?.libele}} </h2>
                    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                        this is the name of the men
                    </div>
                </div>
                <ng-container *ngIf="state.appData?.data?.credit?.length!=0">
                    <app-creditview></app-creditview>
                </ng-container>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>